<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <%- include('partials/logo') %>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <a href="/movies">Listado de peliculas</a>
    <a href="/movies/new">Ultimos estrenos</a>
    <a href="/movies/recommended">Peliculas Recomendadas</a>
    <hr>
    <a href="/genres">Listado de Generos de peliculas</a>
    <hr>
    <a href="/actors">Listado de Actores</a>  
  </body>
</html>
